* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right top, #52fff1, #2c28ff, #4cffa6);
    display: flex;
    justify-content: center;
    align-items: center;
}