* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f8f9fa;
    /* background: linear-gradient(to right top, #52fff1, #2c28ff, #4cffa6); */
}
.navbar {
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            position: sticky;
            top: 0;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 60px;
}
.search-btn , .menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    padding: 8px;
    border-radius: 50%;
    /* transition: background 0.3s; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn:hover,.menu-btn:hover {
    background-color: #f0f0f0;
}